//
//  Config.xcconfig.example
//  SwahiLib
//
//  Created by Siro Daves on 21/06/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SUPABASE_URL=
SUPABASE_ANON_KEY=
            
